{% extends "index.html" %}
{% block content %}

<div class = "row">
	<div class="col-md-12">
		<h2 class = "text-muted text-center"><a href="index1.html">My Blog Posts</a></h2>
	</div>
</div>

<div class = "row">
	<div class = "col-md-2"></div>
	<div class = "col-md-8 ">
		<ul class = "text-center">
				{% for post in posts %}

			
			<pre >
				<li class= "text-center">
					<b>Title:</b> {{post.subject}} &nbsp<b>Created:</b> {{post.timestamp}}
					<div>{{post.content}}</div>
				</li>
				
			</pre>

				{% endfor %}
			
		</ul>
	</div>
	<div class = "col-md-2"></div>
</div>

<div class = "row text-center">
				<div class = "col-md-4">
					<button onclick="location.href='/form'">Sign Up/In</button>
				</div>
				<div class = "col-md-4">
				</div>
				<div class = "col-md-4">
					<button onclick="location.href='/form'">Make Blog Entry</button>
				</div>
			</div>

{% endblock %}