{% extends "index.html" %}
{% block content %}

<div class = "row">
	<div class="col-md-12">
			<!--<a href="/blog/{{post.key().id()}}">
				<h3 class = "text-muted text-center">{{post.subject}}</h3>
			</a>-->
	</div>
</div>

<div class = "row text-center">{% if username != "Guest"%}
				<div class = "col-md-3">
					<button onclick="location.href='/signup'">Edit</button>
				</div>
				<div class = "col-md-3">
					<button onclick="location.href='/form'">Delete</button>
				</div>
				<div class = "col-md-3">
					<button onclick="location.href='/logout'">Like</button>
				</div>
				<div class = "col-md-3">
					<button onclick="location.href='/form'">Comment</button>
				</div><br>{% else %}
				<div class = "col-md-12 text-center">
					<button onclick="location.href='/signup'">Login to Like/ Comment</button>
				</div>
				{% endif %}
</div>
<hr>

<div class = "row">
	<div class = "col-md-3"></div>
	<div class = "col-md-6 ">
		<ul class = "text-center">

				<div class= "text-center">
					{{ post.render() | safe }}<br><br>
				</div>

			
		</ul>
	</div>
	<div class = "col-md-3"></div>
</div>


{% endblock %}